<app-navbar id="nav"></app-navbar>

<div class="heading">
    Experience
</div>

<div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="storeData()">
        <ng-container *ngFor="let detail of workExperience; let i = index">
            <div class="sub_container">
                <div>
                    <input pInputText type="text" formControlName="company{{i}}" class="p-inputtext-lg"
                        placeholder="Company Name" />
                    <span *ngIf="signupForm.get('company' + i)?.invalid && signupForm.get('company' + i)?.touched">
                        *Enter your company name
                    </span>
                </div>

                <div>
                    <input pInputText type="text" formControlName="position{{i}}" class="p-inputtext-lg"
                        placeholder="Position" />
                    <span *ngIf="signupForm.get('position' + i)?.invalid && signupForm.get('position' + i)?.touched">
                        *Enter your position
                    </span>
                </div>

                <div class="date_Container">
                    <input placeholder="Start date" class="date" type="text" formControlName="startDate{{i}}"
                        onfocus="(this.type='month')" onblur="if(!this.value)this.type='text'">
                    <input placeholder="End date" class="date" type="text" formControlName="endDate{{i}}"
                        onfocus="(this.type='month')" onblur="if(!this.value)this.type='text'">
                </div>

                <div class="city">
                    <input pInputText type="text" formControlName="city{{i}}" class="p-inputtext-lg"
                        placeholder="City" />
                    <span *ngIf="signupForm.get('city' + i)?.invalid && signupForm.get('city' + i)?.touched">
                        *Enter your city name
                    </span>
                </div>

                <div class="textarea">
                    <textarea name="textarea" formControlName="description{{i}}" id="textarea" cols="95" rows="5"
                        style="resize: vertical;" placeholder="Summary"></textarea>
                    <span
                        *ngIf="signupForm.get('description' + i)?.invalid && signupForm.get('description' + i)?.touched">
                        *Describe yourself
                    </span>
                </div>
            </div>

            <button type="button"  (click)="remove(i)" [disabled]="workExperience.length <= 1">Remove</button>
        </ng-container>
        <button type="button" id="addMore" (click)="addMore()">Add More</button>

        <div class="btn_container">
            <button  [routerLink]="['/main']" pButton label="Back" class="p-button-lg"></button>
            <button type="submit" [disabled]="signupForm.invalid" pButton label="Next" class="p-button-lg"></button>
        </div>
    </form>
</div>
