
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: white; */
}

.container {
  display: flex;
  justify-content: space-evenly;
}

#Cv_container {
  margin: 20px 10px;
  max-height: 680px;
  width: 908px;
  border: 1px solid black;
  overflow-y: auto;
  padding: 20px;
  scrollbar-width: thin;
  background-color: white;
}

#Cv_container::-webkit-scrollbar {
  width: 0px;
}

#Cv_container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding-top: 51px;
  font-weight: 600;
}

.basicInfo {
  display: flex;
  justify-content: space-between;
  margin: 0px 60px;
  margin-top: 20px;
}

a,
.gmail {
  margin-top: 4px;
  font-size: 15px;
  text-decoration: none;
}

#phone,
#city,
#state {
  font-size: 16px;
  font-weight: 600;
}

.social {
  display: flex;
  align-items: center;
}

.summary {
  margin: 26px 54px 0px 60px;
  font-size: 16px;
}

hr {
  width: 757px;
  height: 3px;
  margin: 9px 48px;
  background-color: black;
}

.skills {
  margin-top: 10px;
  margin: 0px 35px;
  padding: 0px 40px;
  font-size: 30px;
}

li {
  font-size: 17px;
  list-style-type: square;
}

.details {
  font-size: 16px;
  font-weight: 600;
}

.role {
  margin: 5px 15px;
  font-size: 20px;
  margin: 20px 35px 0px 60px;
}

.projectNameHeader,
.educationHeader,
.comapanyNameHeader,
.personalInfoHeader,
.skillheader {
  margin: 0px 25px;
  padding: 22px 0px;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.projectInfo, .collegeInfo {
  width: 700px;
  margin-left: 55px;
  justify-content: space-between;
}

.downlordbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.download {
  width: 160px;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgb(88 200 235);
  cursor: pointer;
  border-radius: 5px;
}