
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    margin-top: 20px;
}

.heading {
    font-family: headingFont;
    color: #013564;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 20px;
    height: auto;
    width: auto;
}

.sub_container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 80px;
    width: 750px;
    height: auto;
    margin: auto;
}


input {
    border-radius: 5px;
    border: none;
    outline: none;
    height: 50px;
    width: 350px;
    padding-left: 12px;
    margin: 17px 12px;
    align-items: center;
    background-color: white;
}

#textarea {
    margin-left: 15px;
    margin-bottom: 10px;
    margin: 0px 0px 10px 1;
    border: none;
    outline: none;
    padding: 5px 5px;
    overflow: auto;
    width: 730px;
    resize: none;
    height: auto;
    background-color: white;
}

.textarea {
    grid-column: 1/ span 2;
}

#addMore{
    margin: 0px 0px 0px 15px;
}

.btn_container {
    display: flex;
    margin-top: 20px;
    width: auto;
    justify-content: space-between;
    margin-bottom: 100px;
}

.p-button-lg {
    width: 160px;
    height: 60px;
    font-size: 100px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: #1a91f0;
}

button {
    color: white;
    border: none;
    margin-left: 12px;
    width: 130px;
    height: 36px;
    background-color: #1a91f0;
    border-radius: 10px;
    cursor: pointer;
}

small {
    color: red;
    padding-left: 15px;
    position: relative;
    top: -15px;
    font-weight: bold;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

textarea.ng-invalid.ng-touched {
    border: 2px solid red;
}

@media screen and (min-width:650px) and (max-width:790px) {

    .contaier {
        display: flex;
        align-items: center;
        width: 660px;
        margin: auto;
        justify-content: center;
    }

    .heading { 
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-top: 10px;
        height: auto;
        width: auto;
    }

    .sub_container {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-column-gap: 70px;
        width: 650px;
        height: auto;
    }

    .inputContainer {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-column-gap: 70px;
        width: 650px;
        height: auto;
    }

    input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 40px;
        width: 292px;
        padding-left: 15px;
        margin: 13px 14px;
        align-items: center;
    }

    #textarea {
        margin-left: 14px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: none;
        height: auto;
        width: 610px;
    }

    .p-button-lg {
        width: 160px;
        height: 60px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        background-color: #1a91f0;
    }

    .btn {
        width: 148px;
        color: white;
        height: 31px;
        border-radius: 15px;
        cursor: pointer;
        padding-top: 6px;
        padding-left: 12px;
        border: none;
        background-color: rgb(42, 39, 39);
        display: flex;
        justify-content: space-between;
    }

    .btn_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 625px;
        margin-top: 10px;
    }


}


@media screen and (min-width:550px) and (max-width:650px) {

    .contaier {
        display: flex;
        align-items: center;
        width: 550px;
        margin: auto;
        justify-content: center;
    }

    .heading { 
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-top: 8px;
        height: auto;
        width: auto;
    }

    .sub_container {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-column-gap: 25px;
        width: 550px;
        height: auto;
    }

    input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 40px;
        width: 242px;
        padding-left: 15px;
        margin: 13px 14px;
        align-items: center;
    }

    #textarea {
        margin-left: 14px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: none;
        height: auto;
        width: 519px;
    }

    .p-button-lg {
        width: 136px;
        height: 52px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        background-color: #1a91f0;
    }

    .btn {
        width: 148px;
        color: white;
        height: 31px;
        border-radius: 15px;
        padding-top: 6px;
        padding-left: 12px;
        border: none;
        background-color: rgb(42, 39, 39);
        display: flex;
        justify-content: space-between;
    }

    .btn_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 533px;
        margin-top: 10px;
    }
}

@media screen and (min-width:400px) and (max-width:550px) {

    .contaier {
        display: flex;
        align-items: center;
        width: auto;
        margin: auto;
        justify-content: center;
    }

    .heading { 
        display: flex;
        justify-content: center;
        font-size: 28px;
        margin-top: 8px;
        height: auto;
        width: auto;
    }

    .sub_container {
        display: flex;
        flex-wrap: wrap;
        width: 412px;
        height: auto;
    }

    input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 48px;
        width: 359px;
        padding-left: 15px;
        margin: 13px 26px;
        align-items: center;
    }

    #textarea {
        margin-left: 26px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: none;
        height: auto;
        width: 360px;
    }

    .btn {
        width: 148px;
        color: white;
        height: 31px;
        border-radius: 15px;
        padding-top: 6px;
        border: none;
        background-color: rgb(42, 39, 39);
        display: flex;
        justify-content: space-between;
    }

    button {
        color: white;
        border: none;
        margin-left: 22px;
        width: 130px;
        height: 36px;
        background-color: #1a91f0;
        border-radius: 10px;
        cursor: pointer;
    }

    .p-button-lg {
        width: 140px;
        height: 50px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        background-color: #1a91f0;
    }

    .btn_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        width: 390px;
    }

}

@media screen and (min-width:350px) and (max-width:400px) {

    .contaier {
        display: flex;
        align-items: center;
        width: auto;
        margin: auto;
        justify-content: center;
    }

    .heading { 
        display: flex;
        justify-content: center;
        font-size: 27px;
        margin-top: 5px;
        height: auto;
        width: auto;
    }

    .sub_container {
        display: flex;
        flex-wrap: wrap;
        width: 365px;
        height: auto;
        margin: auto;
    }

    input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 40px;
        width: 306px;
        padding-left: 15px;
        margin: 13px 23px;
        align-items: center;
    }

    #textarea {
        margin-left: 26px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: none;
        height: auto;
        width: 302px;
    }

    .add_remove{
        width: 107px;
        margin-left: 26px;
    }

    .p-button-lg {
        width: 120px;
        height: 40px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
        background-color: #1a91f0;
    }

    .btn_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: 335px;
    }
}


@media screen and (min-width:280px) and (max-width:350px) {

    .contaier {
        display: flex;
        align-items: center;
        width: auto;
        margin: auto;
        justify-content: center;
    }

    .heading { 
        display: flex;
        justify-content: center;
        font-size: 21px;
        margin-top: 5px;
        height: auto;
        width: auto;
    }

    .sub_container {
        display: flex;
        flex-wrap: wrap;
        width: 292px;
        height: auto;
        margin: auto;
    }

    input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 40px;
        width: 269px;
        padding-left: 15px;
        margin: 13px 12px;
        align-items: center;
    }

    #textarea {
        margin-left: 12px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: none;
        height: auto;
        width: 269px;
    }

    .p-button-lg {
        width: 130px;
        height: 45px;
        font-size: 100px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
        background-color: #1a91f0;
    }

    .btn_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media screen and (max-width:280px) {

    .contaier {
        display: flex;
        align-items: center;
        width: auto;
        background-color: orange;
        /* margin: auto; */
        justify-content: center;
    }

    .heading { 
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin-top: 4px;
        height: auto;
        width: auto;
    }

    .sub_container {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
    }

    input {
        border-radius: 4px;
        border: none;
        outline: none;
        height: 45px;
        width: 242px;
        padding-left: 15px;
        margin: 8px 20px;
        align-items: center;
    }

    #textarea {
        margin-left: 21px;
        margin-bottom: 3px;
        border: none;
        outline: none;
        padding: 7px 12px;
        overflow: auto;
        resize: none;
        height: auto;
        width: 240px;
    }

    .add_remove{
        width: 107px;
        margin-left: 18px;
    }

    .p-button-lg {
        width: 110px;
        height: 35px;
        font-size: 70px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
        background-color: #1a91f0;
    }

    .btn_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 259px;
        margin-top: 10px;
    }
}