/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); */


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: auto;
    height: auto;
}
.heading{ 
    font-size: 43px;
    margin: 20px 0px;
    font-family: "Merriweather", serif;
    display: flex;
    justify-content: center;
}

.btn_container { 
    display: flex;
    margin:auto;
    margin-top: 60px;
    width: 500px;
    justify-content: space-between;
}

.p-button-lg {
    width: 160px;
    height: 60px;
    font-size: 100px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: rgb(42, 39, 39);
    box-shadow: 0 0 10px 0 #373838 inset, 0 0 20px 2px #535555;
    cursor: pointer;
}


@media screen and (max-width:670px) {
    
    .heading{ 
        font-size: 33px;
        margin: 20px 0px;
        display: flex;
        justify-content: center;
    }

    .btn_container { 
        display: flex;
        margin:auto;
        margin-top: 60px;
        width: 500px;
        justify-content: space-evenly;
    }

    .p-button-lg {
        width: 144px;
        height: 54px;
        font-size: 100px;
        border-radius: 30px;
        border: none;
        font-size: 20px;
        background-color: rgb(42, 39, 39);
        box-shadow: 0 0 10px 0 #373838 inset, 0 0 20px 2px #535555;
        cursor: pointer;
    }
}


@media screen and (max-width:510px) {
    
    .heading{ 
        font-size: 26px;
        margin: 20px 0px;
        display: flex;
        justify-content: center;
    }

    .btn_container { 
        display: flex;
        margin:auto;
        margin-top: 60px;
        width: 350px;
        justify-content: space-between;
    }

    .p-button-lg {
        width: 144px;
        height: 54px;
        font-size: 100px;
        border-radius: 30px;
        border: none;
        font-size: 20px;
        background-color: rgb(42, 39, 39);
        box-shadow: 0 0 10px 0 #373838 inset, 0 0 20px 2px #535555;
        cursor: pointer;
    }
}


@media screen and (max-width:390px) {
    
    .heading{ 
        font-size: 18px;
        margin: 20px 0px;
        display: flex;
        justify-content: center;
    }

    .btn_container { 
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        margin: auto;
        padding: 15px 15px 15px 15px;
        width: 200px;
        height: auto;
        justify-content: center;
    }

    .p-button-lg {
        width: 112px;
        height: 40px;
        font-size: 100px;
        border-radius: 30px;
        margin-bottom: 10px;
        border: none;
        font-size: 20px;
        background-color: rgb(42, 39, 39);
        box-shadow: 0 0 10px 0 #373838 inset, 0 0 20px 2px #535555;
        cursor: pointer;
    }
}



@media screen and (max-width:280px) {
    
    .heading{
        font-size: 15px;
        margin: 20px 0px;
        display: flex;
        justify-content: center;
    }

    .btn_container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        margin: auto;
        padding: 15px 15px 15px 15px;
        width: 200px;
        height: auto;
        justify-content: center;
    }

    .p-button-lg {
        width: 112px;
        height: 40px;
        font-size: 100px;
        border-radius: 30px;
        margin-bottom: 10px;
        border: none;
        font-size: 20px;
        background-color: rgb(42, 39, 39);
        box-shadow: 0 0 10px 0 #373838 inset, 0 0 20px 2px #535555;
        cursor: pointer;
    }
}