<div class="container">

    <!-- <div class="formsContainer"> -->

            <div class="signupForm">
                    

                            <div class="form">
                                    <div class="heading">
                                            Forgot Your Password?
                                    </div>
                                    <form (ngSubmit)="onLogin()">
                                            
                                            <div>
                                                    <input type="email" id="email" name="email" [(ngModel)]="email"
                                                            placeholder="Email" required>
                                            </div>
                                           
                                            
                                            <div class="btn">
                                                    <button class="submit" type="submit">Reset Password</button>
                                            </div>
                                            
                                    </form>

                                    <div class="signinText"> <span style="color: black;">Forget it,</span> <span
                                            style="margin: 4px;"> <a routerLink="/login">Login</a>
                                    </span> </div>
                            </div>
                    <!-- </div> -->

            <div class="InfoContainer">
                    <div class="header">
                            <img src="../../assets/resume.png" alt=""> <span>Your CV</span>
                    </div>
                    <div class="info">
                        <span>Make a CV to define yourself The right way. Meet </span>
                        <span>thousands of job announcements and employers</span>
                        <span> by the help of your profile with a private extension, </span>
                        <span> which you can share at all social</span> 
                        <span>media environments.</span>
                    </div>
                    <footer class="footer">
                            <button class="signup"  routerLink="/signup">Login</button>
                    </footer>
                    
            </div>
    </div>
</div>