<div class="header">
  <div class="nav">
    <app-navbar></app-navbar>
  </div>
  <!-- login and signup buttons -->
  <!-- <div class="userbtn">
    <button routerLink="/login">Login</button>
    <button routerLink="/signup">Sign Up</button>
  </div>

  <div class="dropdown">
    <button (click)="toggleDropdown()" class="dropbtn"><img src="../../assets/menu.256x172.png" alt=""></button>
    <div *ngIf="isOpen" class="dropdown-content">
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Sign Up</a>
    </div>
  </div>-->
</div> 


<div class="intro_heading">
  Build Your Perfect Resume in Minutes
</div>

<div class="card flex">
  <button pButton routerLink="/main" type="button" label="Create Resume" class="p-button-lg"></button>
</div>
