
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: relative;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 200px; 
}

.userbtn {
    display: flex;
    gap: 10px;
}

.userbtn button {
    color: white;
    width: 98px;
    height: 48px;
    border-radius: 13px;
    font-size: 19px;
    background-color: rgb(69, 63, 63);
    border: none;
    margin: 5px 5px 0 5px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.userbtn button:hover {
    transform: scale(1.1);
    background-color: rgb(28, 27, 27);
}

.intro_heading {
    display: flex;
    justify-content: center;
    font-family: "Merriweather", serif;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    margin-top: 50px;
}

.card {
    width: 100vw;
    height: 466px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.p-button-lg {
    width: 234px;
    height: 59px;
    border-radius: 30px;
    border: none;
    position: relative;
    font-size: 18px;
    background-color: rgb(42, 39, 39);
    box-shadow: 0 0 10px 0 #373838 inset, 0 0 20px 2px #535555;
    transition: 0.1s all ease-in-out;
}

.p-button-lg:hover {
    transform: scale(1.1);
    background-color: rgb(28, 27, 27);
}

@media screen and (min-width:640px) and (max-width:900px) {
    
    .nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin-left: 160px;
    }

    .intro_heading {
        background-color: transparent;
        display: flex;
        justify-content: center;
        font-family: "Merriweather", serif;
        font-size: 38px;
        font-weight: 400;
        font-style: normal;
    }

    .userbtn button {
        color: white;
        width: 73px;
        height: 39px;
        border-radius: 13px;
        font-size: 15px;
        background-color: rgb(69, 63, 63);
        border: none;
        margin: 5px 5px 0 5px;
        cursor: pointer;
        transition: 0.1s all ease-in-out;
    }
}

@media screen and (min-width:535px) and (max-width:640px) {
    
    .nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin-left: 25px;
    }

    .userbtn .btn {
        display: none;
      }
      .dropdown {
        display: block;
      }

    .intro_heading {
        background-color: transparent;
        display: flex;
        justify-content: center;
        font-family: "Merriweather", serif;
        font-size: 31px;
        font-weight: 400;
        font-style: normal;
    }

    .userbtn button {
        color: white;
        width: 73px;
        height: 39px;
        border-radius: 13px;
        font-size: 26px;
        background-color: rgb(69, 63, 63);
        border: none;
        margin: 5px 5px 0 5px;
        cursor: pointer;
        transition: 0.1s all ease-in-out;
    }

    .userbtn{
        display: none;
    }
}


@media screen and (max-width:535px) {
    
    .nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin-left: 25px;
    }

    .intro_heading {
        background-color: transparent;
        display: flex;
        justify-content: center;
        font-family: "Merriweather", serif;
        font-size: 25px;
        font-weight: 400;
        font-style: normal;
    }

    .userbtn{
        display: none;
    }
}
@media screen and (min-width:350px) and (max-width:420px) {
    .nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin-left: 20px;
    }

    .intro_heading {
        background-color: transparent;
        display: flex;
        justify-content: center;
        font-family: "Merriweather", serif;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
    }

    .p-button-lg {
        width: 184px;
        height: 50px;
        border-radius: 20px;
        border: none;
        position: relative;
        font-size: 15px;
        background-color: rgb(42, 39, 39);
        box-shadow: 0 0 10px 0 #373838 inset, 0 0 20px 2px #535555;
        transition: 0.1s all ease-in-out;
    }

    .userbtn{
        display: none;
    }

    .intro_heading {
        background-color: transparent;
        display: flex;
        justify-content: center;
        font-family: "Merriweather", serif;
        font-size: 25px;
        font-weight: 400;
        padding-left: 39px;
        font-style: normal;
    }
}

@media screen and (max-width:350px) {
    
    .nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin-left: 20px;
    }

    .card{
        width: 100vw;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
    }

    .intro_heading {
        background-color: transparent;
        display: flex;
        justify-content: center;
        font-family: "Merriweather", serif;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
    }

    .p-button-lg {
        width: 184px;
        height: 50px;
        border-radius: 20px;
        border: none;
        position: relative;
        font-size: 15px;
        background-color: rgb(42, 39, 39);
        box-shadow: 0 0 10px 0 #373838 inset, 0 0 20px 2px #535555;
        transition: 0.1s all ease-in-out;
    }

    .userbtn{
        display: none;
    }

    .intro_heading {
        background-color: transparent;
        display: flex;
        justify-content: center;
        font-family: "Merriweather", serif;
        font-size: 25px;
        font-weight: 400;
        padding: 0px 25px;
        font-style: normal;
    }
}